<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin}">
<head>
	<title>Seções</title>
</head>

<body>
	
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/admin/home}">Painel de controle</a>
			</li>
			<li class="breadcrumb-item">
				<a th:href="@{/admin/secao}">Seções</a>
			</li>
			<li class="breadcrumb-item active">Detalhes</li>
		</ol>
		
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Detalhes da seção
			</div>
			<div class="card-body">
				<h4 th:inline="text" >
					Nome da seção: 
					<small th:text="${secao.nome}"></small>
				</h4>
				<h4 th:inline="text" >
					Quantidade de produtos: 
					<small th:text="${#lists.size(secao.produtos)}"></small>
				</h4>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Produtos cadastrados
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered table-striped tabela-produto" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Fabricante</th>
								<th>Preço</th>
								<th>Quantidade</th>
								<th>Detalhes</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="produto : ${secao.produtos}">
								<tr>
									<td th:text="${produto.nome}"></td>
									<td th:text="${produto.fabricante.nome}"></td>
									<td th:text="${produto.preco}"></td>
									<td>0</td>
									<td>Ver detalhes</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment="scripts">
		<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/js/produto.js}"></script>
    </th:block>
	
</body>

</html>