<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin}">
<head>
	<title>Seções</title>
</head>

<body>
	
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/admin/home}">Painel de controle</a>
			</li>
			<li class="breadcrumb-item">
				<a th:href="@{/admin/secao/listar}">Seções</a>
			</li>
			<li class="breadcrumb-item active">Editar</li>
		</ol>
		
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Editar Seção
			</div>
			<div class="card-body">
				<form th:action="@{/admin/secao/editar/{id}(id=${secao.id})}" th:object="${secao}" method="post">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nomeSecao">Nome</label> 
							<input type="text" id="nomeSecao" class="form-control" th:field="*{nome}" 
								placeholder="Nome">
							<div class="invalid-feedback" id="nomeSecaoErro" 
								th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Editar</button>
					<a role="button" th:href="@{/admin/secao/listar}" class="btn btn-secondary">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/secao-form.js}"></script>
    </th:block>
	
</body>

</html>