<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin}">
<head>
	<title>Produto - Cadastrar</title>
</head>

<body>
	
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/admin/home}">Painel de controle</a>
			</li>
			<li class="breadcrumb-item">
				<a th:href="@{/admin/produto}">Produtos</a>
			</li>
			<li class="breadcrumb-item active">Editar</li>
		</ol>
		
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Editar Produto
			</div>
			<div class="card-body">
				<form id="formProduto" th:action="@{/admin/produto/cadastrar}" th:object="${produto}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="nomeProduto">Nome</label> 
							<input type="text" id="nomeProduto" class="form-control" th:field="*{nome}" 
								name="nome" placeholder="Nome">
							<div class="invalid-feedback" id="nomeProdutoErro" th:if="${#fields.hasErrors('nome')}" 
								th:errors="*{nome}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="fabricanteProduto">Fabricante</label> 
							<select class="form-control" id="fabricanteProduto" th:field="*{fabricante.id}">
								<option value="-1" selected>-- Escolha um fabricante --</option>
								<th:block th:each="fabricante : ${fabricantes}">
									<option th:value="${fabricante.id}" th:text="${fabricante.nome}"></option>
								</th:block>
							</select>
							<div class="invalid-feedback" id="fabricanteProdutoErro" th:if="${#fields.hasErrors('fabricante.id')}"
								th:errors="*{fabricante.id}">
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="precoProduto">Preço</label> 
							<input id="precoProduto" class="form-control" th:field="*{preco}" 
								name="preco" placeholder="Preço">
							<div class="invalid-feedback" id="fabricanteProdutoErro" th:if="${#fields.hasErrors('preco')}" 
								th:errors="*{preco}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="secoesProduto" class="row col-md-12">Seções</label>
							<th:block th:each="secao : ${secoes}">
								<div class="form-check form-check-inline">
									<input class="form-check-input" th:field="*{secoes}" type="checkbox" th:value="${secao.id}" 
										th:id="'boxSecao' + ${secao.id}">
									<label class="form-check-label" th:for="'boxSecao' + ${secao.id}" th:text="${secao.nome}"></label>
								</div>
							</th:block>
							<div class="invalid-feedback" id="secoesProduto" th:if="${#fields.hasErrors('secoes')}" 
								th:errors="*{secoes}">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="descricaoProduto">Descrição</label> 
							<textarea class="form-control" th:field="*{descricao}" id="descricaoProduto" rows="5"></textarea>
							<div class="invalid-feedback" id="descricaoProdutoErro" th:if="${#fields.hasErrors('descricao')}" 
								th:errors="*{descricao}">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Editar</button>
					<a role="button" th:href="@{/admin/produto}" class="btn btn-secondary">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/jquery.masknumber.min.js}"></script>
		<script th:src="@{/js/produto-form.js}"></script>
    </th:block>
	
</body>

</html>