<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	<a class="navbar-brand mr-1" th:href="@{/admin/home}">Loja - Administração</a>

	<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
		<i class="fas fa-bars"></i>
	</button>
	
	<ul class="navbar-nav ml-auto my-2 my-md-0">
		<li class="nav-item no-arrow mx-1">
	    	<a class="nav-link" th:href="@{/home}" role="button">
	        	<i class="fas fa-bell fa-fw"></i>
	        	Ir para loja
	      	</a>
		</li>
	</ul>
</nav>