<!-- Sidebar -->
<ul class="sidebar navbar-nav">
	
	<li class="nav-item">
		<a class="nav-link" th:href="@{/admin/home}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Painel de controle</span>
		</a>
	</li>
	
	<li class="nav-item">
		<a class="nav-link" th:href="@{/admin/produto}">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Produtos</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" th:href="@{/admin/secao}">
			<i class="fas fa-fw fa-table"></i>
			<span>Seções</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fas fa-fw fa-table"></i>
			<span>Pedidos</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" th:href="@{/admin/fabricante}">
			<i class="fas fa-fw fa-table"></i>
			<span>Fabricantes</span>
		</a>
	</li>
</ul>